.timer {
  font-size: 2em;
  width: 25%;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  transition: background-color 1s;
  margin: auto;
}

.timer.active {
  background-color: #ff0000;
}
